<ion-view view-title="Em andamento">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a class="button button-icon ion-plus-round" href="#/app/solicitar-entrega"></a>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in vm.entregas" href="#/app/playlists/{{item.id}}">
                {{item.cliente}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
